@font-face {
  font-family: "Monument";
  src: url(../fonts/MonumentExtended-Regular.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Monument";
}

body{
  background-color: #f0f0f0;
}

