.formContainer {
    margin: 4rem 6rem;
    color: #2a2a2a;
    text-align: center;
}

.formContainer form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.formContainer input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.formContainer textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.formContainer button {
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #2a2a2a;
    cursor: pointer;
    background: rgb(246, 231, 23);

}

@media screen and (max-width: 850px) {
    .formContainer {
        margin: 4rem 2rem;
    }

    .formContainer form {
        padding-top: 2rem;
        width: 90%;
    }
    
}